In [1]:
import pandas as pd
import numpy as np
from functools import reduce
import random
pd.set_option('display.max_columns', 500)

In [2]:
df_unique = pd.read_csv('dataset_without_duplicates.csv')
df = pd.read_csv('dataset_without_noise.csv')

/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (9,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [17]:
df2 = df_unique[['GIID']]
df2

              GIID
0       535-58-450
1       014-49-941
2       450-19-045
3       310-20-101
4       956-64-372
...            ...
301761  275-93-832
301762  287-67-513
301763  508-09-848
301764  762-06-912
301765  518-42-667

[301766 rows x 1 columns]

In [43]:
def truncated_normal(mean, stddev, minval, maxval, count):
        return np.clip(np.random.normal(mean, stddev, count), minval, maxval)

In [44]:
ages = truncated_normal(1980, 15, 1948, 2000, len(df2['GIID']))
ages = [int(n) for n in ages]

months = np.random.uniform(1,13,len(df2['GIID']))
months = [int(x) for x in months]

monthToYear = {1:31, 2:28, 3:31, 4:30, 5:31, 6:30, 7:31, 8:31, 9:30, 10:31, 11:30, 12:31}
days = [1] * len(months)

for i in range(len(months)):
    numdays = monthToYear[months[i]]
    if months[i]==2:
        numdays = np.random.choice([28,28,28,29])
    days[i] = np.random.randint(1, numdays+1)
    

df2['YO'] = ages
df2['MO'] = months
df2['DO'] = days

<ipython-input-44-1b799e79686b>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['YO'] = ages
<ipython-input-44-1b799e79686b>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['MO'] = months
<ipython-input-44-1b799e79686b>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['DO'] = days

In [53]:
df = df.drop(['MO'], axis=1)

In [54]:
df4 = pd.merge(df, df2, on = ['GIID'], how = 'left')

In [56]:
df4

,Unnamed: 0,INDEX,FY,ORG_NAME,STATE_CODE,ZIP_CODE,PI_FIRST_NAME,PI_MIDDLE_NAME,PI_LAST_NAME,PI_DEPARTMENT,GRANT_NUM,GRANT_NUM_STEM,APPLICATION_ID,SOURCE_CODE_DC,ACTIVITY_CODE,MAJOR_ACTIVITY_CODE,PI_DEPT_CODE,PROJECT_TITLE,SEX,DOB,MOB,YOB,COB,CNOB,SUBJECTHASMIDDLENAME,GIID,CHANGED_ZIP,CHANGED_SEX,CHANGED_YOB,CHANGED_FIRST_NAME,CHANGED_LAST_NAME,CHANGED_CITY,MO,YO,DO
0,0,0,1970,AMERICAN OCCUPATIONAL THERAPY ASSN,MD,21638,HARRIET,NaN,TIEBEL,NaN,1N01AH004000-00070,1N01AH004000,3591064.0,HISTORY,N01,N,NaN,ENCOURAGE INACTIVE THERAPISTS TO RE-ENTER PROF...,F,3,7,1999,Grasonville,US,False,535-58-450,False,False,False,False,False,False,8,1985,16
1,1,1,1970,U.S. DEPT OF HLTH & HUMAN SRVS-DUMMY REC,FL,32463,GERALD,NaN,ELLINGSON,NaN,1N01AH004103-00070,1N01AH004103,3591099.0,HISTORY,N01,N,NaN,CENTRAL STATE PROJECT FOR HEALTH MANPOWER INFO...,M,8,9,1995,Wausau,US,False,014-49-941,False,False,False,False,False,False,12,1964,24
2,2,2,1970,"COMPUTER APPLICATIONS, INC.",MO,65631,PHIL,NaN,WELSH,NaN,1N01AH004172-00070,1N01AH004172,3591112.0,HISTORY,N01,N,NaN,SURVEY OF ALLIED HEALTH PROFESSIONS GRANTEE IN...,M,5,10,1977,Clever,US,False,450-19-045,False,False,False,False,False,False,12,1970,28
3,3,3,1970,HOSPITAL EDUCATIONAL AND RES FDN OF PA,PA,16372,RAYMOND,H,GIESLER,NaN,1N01AH004196-00070,1N01AH004196,3591115.0,HISTORY,N01,N,NaN,DEMONSTRATION WORK-STUDY FOR VIETNAM ERA VETERANS,M,29,9,1959,Clintonville,US,True,310-20-101,False,False,False,False,False,False,12,1973,27
4,4,4,1970,UNIVERSITY OF IOWA,IA,51453,JOHN,S,THOMPSON,NaN,1N01AI002011-00070,1N01AI002011,3591635.0,HISTORY,N01,N,NaN,TEST FOR HUMAN LEUKOCYTE TYPING,M,16,10,1984,Lohrville,US,True,956-64-372,False,False,False,False,False,False,5,1988,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2064308,2064308,2064308,2009,NEOCLONE BIOTECHNOLOGY INTERNATIONAL,WI,54513,UWE,NaN,MULLER,NaN,N44CN000000-00409,N44CN000000,7824215.0,CURRENT,N44,N,NaN,Biomarker Screening with Revoluntionary Neoabs,M,27,1,1988,Brantwood,US,False,508-09-848,False,False,False,False,False,False,8,1974,30
2064309,2064309,2064309,2009,QUANTUMMARK LLC,NV,89820,SUZANNE,NaN,MARCH,NaN,N44CO000000-00009,N44CO000000,7944352.0,CURRENT,N44,N,NaN,DEVELOPMENT OF SOFTWARE SYSTEMS TO FACILITATE ...,F,7,2,1968,Battle Mountain,US,False,762-06-912,False,False,False,False,False,False,4,2000,6
2064310,2064310,2064310,2009,"JGPERPICH, LLC",MD,20622,JOSEPH,NaN,PERPICH,NaN,N44DA000000-00409,N44DA000000,7902366.0,CURRENT,N44,N,NaN,NIDA International Virtual Collaboratory,M,18,11,1997,Charlotte Hall,US,False,518-42-667,False,False,False,False,False,False,7,1980,6
2064311,2064311,2064311,2009,"PROLONG PHARMACEUTICALS, INC.",NJ,7718,ABE,NaN,ABUCHOWSKI,NaN,N44HB000000-00009,N44HB000000,7879547.0,CURRENT,N44,N,NaN,BIOMEDICAL (BASIC),M,23,8,1948,Belford,US,False,569-99-571,False,False,False,False,False,False,10,1986,31
2064312,2064312,2064312,2009,THREE C INSTITUTE FOR SOCIAL DEVELOPMT,NC,28395,MELISSA,E.,DEROSIER,NaN,N44MH000000-00509,N44MH000000,7906329.0,CURRENT,N44,N,NaN,Interactive Web-based Networking Tool for Link...,F,10,12,1986,Wade,US,True,632-72-383,False,False,False,False,False,False,3,1961,17

In [57]:
df = df4
df['MOB'] = df['MO']
df['YOB'] = df['YO']
df['DOB'] = df['DO']

In [59]:
df = df.drop(['MO', 'DO', 'YO'], axis=1)

In [61]:
df['CHANGED_ZIP'] = False
df['CHANGED_SEX'] = False
df['CHANGED_YOB'] = False
df['CHANGED_FIRST_NAME'] = False
df['CHANGED_LAST_NAME'] = False
df['CHANGED_CITY'] = False
df.head()

,Unnamed: 0,INDEX,FY,ORG_NAME,STATE_CODE,ZIP_CODE,PI_FIRST_NAME,PI_MIDDLE_NAME,PI_LAST_NAME,PI_DEPARTMENT,GRANT_NUM,GRANT_NUM_STEM,APPLICATION_ID,SOURCE_CODE_DC,ACTIVITY_CODE,MAJOR_ACTIVITY_CODE,PI_DEPT_CODE,PROJECT_TITLE,SEX,DOB,MOB,YOB,COB,CNOB,SUBJECTHASMIDDLENAME,GIID,CHANGED_ZIP,CHANGED_SEX,CHANGED_YOB,CHANGED_FIRST_NAME,CHANGED_LAST_NAME,CHANGED_CITY
0,0,0,1970,AMERICAN OCCUPATIONAL THERAPY ASSN,MD,21638,HARRIET,NaN,TIEBEL,NaN,1N01AH004000-00070,1N01AH004000,3591064.0,HISTORY,N01,N,NaN,ENCOURAGE INACTIVE THERAPISTS TO RE-ENTER PROF...,F,16,8,1985,Grasonville,US,False,535-58-450,False,False,False,False,False,False
1,1,1,1970,U.S. DEPT OF HLTH & HUMAN SRVS-DUMMY REC,FL,32463,GERALD,NaN,ELLINGSON,NaN,1N01AH004103-00070,1N01AH004103,3591099.0,HISTORY,N01,N,NaN,CENTRAL STATE PROJECT FOR HEALTH MANPOWER INFO...,M,24,12,1964,Wausau,US,False,014-49-941,False,False,False,False,False,False
2,2,2,1970,"COMPUTER APPLICATIONS, INC.",MO,65631,PHIL,NaN,WELSH,NaN,1N01AH004172-00070,1N01AH004172,3591112.0,HISTORY,N01,N,NaN,SURVEY OF ALLIED HEALTH PROFESSIONS GRANTEE IN...,M,28,12,1970,Clever,US,False,450-19-045,False,False,False,False,False,False
3,3,3,1970,HOSPITAL EDUCATIONAL AND RES FDN OF PA,PA,16372,RAYMOND,H,GIESLER,NaN,1N01AH004196-00070,1N01AH004196,3591115.0,HISTORY,N01,N,NaN,DEMONSTRATION WORK-STUDY FOR VIETNAM ERA VETERANS,M,27,12,1973,Clintonville,US,True,310-20-101,False,False,False,False,False,False
4,4,4,1970,UNIVERSITY OF IOWA,IA,51453,JOHN,S,THOMPSON,NaN,1N01AI002011-00070,1N01AI002011,3591635.0,HISTORY,N01,N,NaN,TEST FOR HUMAN LEUKOCYTE TYPING,M,4,5,1988,Lohrville,US,True,956-64-372,False,False,False,False,False,False

In [63]:
dfupdate = df.sample(frac=.1)

In [64]:
new_sex = ['']*len(dfupdate['INDEX'])
for i in range(len(dfupdate['INDEX'])):
    randGender = np.random.randint(0,2)
    if randGender == 0:
        new_sex[i]='M'
    else:
        new_sex[i]='F'

In [65]:
dfupdate['SEX'] = new_sex
dfupdate['CHANGED_SEX'] = True

In [66]:
df.update(dfupdate)
update_list = dfupdate.index.tolist() # from  cᴏʟᴅsᴘᴇᴇᴅ  :)

In [67]:
df[df['CHANGED_SEX']==True].head()

,Unnamed: 0,INDEX,FY,ORG_NAME,STATE_CODE,ZIP_CODE,PI_FIRST_NAME,PI_MIDDLE_NAME,PI_LAST_NAME,PI_DEPARTMENT,GRANT_NUM,GRANT_NUM_STEM,APPLICATION_ID,SOURCE_CODE_DC,ACTIVITY_CODE,MAJOR_ACTIVITY_CODE,PI_DEPT_CODE,PROJECT_TITLE,SEX,DOB,MOB,YOB,COB,CNOB,SUBJECTHASMIDDLENAME,GIID,CHANGED_ZIP,CHANGED_SEX,CHANGED_YOB,CHANGED_FIRST_NAME,CHANGED_LAST_NAME,CHANGED_CITY
9,9.0,9.0,1970.0,NATIONAL JEWISH HEALTH,CO,81232.0,WERNER,B,SCHAEFER,NaN,1N01AI002079-00070,1N01AI002079,3591681.0,HISTORY,N01,N,NaN,"SEROLOGICAL IDENTIFICATION OF ""ATYPICAL"" MYCOB...",M,12.0,4.0,1975.0,Hillside,US,True,054-49-595,False,True,False,False,False,False
16,16.0,16.0,1970.0,TULANE UNIVERSITY OF LOUISIANA,LA,70820.0,JULES,V,HALLUM,NaN,1N01AI002124-00070,1N01AI002124,3591744.0,HISTORY,N01,N,NaN,STUDY FACTORS INFLUENCING THE ASSAY OF INTERFERON,F,17.0,6.0,1997.0,Baton Rouge,US,True,695-56-349,False,True,False,False,False,False
26,26.0,26.0,1970.0,NEW YORK UNIVERSITY,NY,11762.0,JAN,T,VILCEK,MICROBIOLOGY,1N01AI002169-00070,1N01AI002169,3591812.0,HISTORY,N01,N,MEK,METHODS OF PRODUCING HUMAN INTERFERON,F,9.0,7.0,1976.0,Massapequa Park,US,True,032-92-448,False,True,False,False,False,False
43,43.0,43.0,1970.0,SAINT LOUIS UNIVERSITY,MO,64831.0,JAMES,D,CHERRY,PEDIATRICS,1N01AI002266-00070,1N01AI002266,3591904.0,HISTORY,N01,N,PAN,SMALLPOX VACCINE EVALUATION,F,24.0,9.0,1980.0,Anderson,US,True,916-75-747,False,True,False,False,False,False
46,46.0,46.0,1970.0,HARVARD UNIVERSITY,MA,2481.0,A,P,MONACO,NaN,1N01AI002285-00070,1N01AI002285,3591921.0,HISTORY,N01,N,NaN,STUDIES OF IMMUNOSUPPRESSION IN ADULT-THYMECTO...,F,3.0,11.0,1954.0,Wellesley Hills,US,True,243-68-828,False,True,False,False,False,False

In [68]:
dfupdate = df.sample(frac=.1)

In [69]:
new_zips = [0]*len(dfupdate['INDEX'])
ind = 0
for i, j in dfupdate.iterrows():
    randAdd = np.random.randint(-100,101)
    new_zips[ind] = j['ZIP_CODE'] + randAdd
    ind += 1

In [70]:
dfupdate['ZIP_CODE'] = new_zips
dfupdate['CHANGED_ZIP'] = True
df.update(dfupdate)
update_list_zip = dfupdate.index.tolist() # from  cᴏʟᴅsᴘᴇᴇᴅ  :)

In [71]:
dfupdate = df.sample(frac=.1)

In [72]:
new_yobs = [0]*len(dfupdate['INDEX'])
ind = 0
for i, j in dfupdate.iterrows():
    randAdd = np.random.randint(-10,10)
    new_yobs[ind] = j['YOB'] + randAdd
    ind += 1

In [73]:
dfupdate['YOB'] = new_yobs
dfupdate['CHANGED_YOB'] = True
df.update(dfupdate)
update_list_yob = dfupdate.index.tolist() # from  cᴏʟᴅsᴘᴇᴇᴅ  :)

In [74]:
df.head()

,Unnamed: 0,INDEX,FY,ORG_NAME,STATE_CODE,ZIP_CODE,PI_FIRST_NAME,PI_MIDDLE_NAME,PI_LAST_NAME,PI_DEPARTMENT,GRANT_NUM,GRANT_NUM_STEM,APPLICATION_ID,SOURCE_CODE_DC,ACTIVITY_CODE,MAJOR_ACTIVITY_CODE,PI_DEPT_CODE,PROJECT_TITLE,SEX,DOB,MOB,YOB,COB,CNOB,SUBJECTHASMIDDLENAME,GIID,CHANGED_ZIP,CHANGED_SEX,CHANGED_YOB,CHANGED_FIRST_NAME,CHANGED_LAST_NAME,CHANGED_CITY
0,0.0,0.0,1970.0,AMERICAN OCCUPATIONAL THERAPY ASSN,MD,21638.0,HARRIET,NaN,TIEBEL,NaN,1N01AH004000-00070,1N01AH004000,3591064.0,HISTORY,N01,N,NaN,ENCOURAGE INACTIVE THERAPISTS TO RE-ENTER PROF...,F,16.0,8.0,1985.0,Grasonville,US,False,535-58-450,False,False,False,False,False,False
1,1.0,1.0,1970.0,U.S. DEPT OF HLTH & HUMAN SRVS-DUMMY REC,FL,32463.0,GERALD,NaN,ELLINGSON,NaN,1N01AH004103-00070,1N01AH004103,3591099.0,HISTORY,N01,N,NaN,CENTRAL STATE PROJECT FOR HEALTH MANPOWER INFO...,M,24.0,12.0,1964.0,Wausau,US,False,014-49-941,False,False,False,False,False,False
2,2.0,2.0,1970.0,"COMPUTER APPLICATIONS, INC.",MO,65631.0,PHIL,NaN,WELSH,NaN,1N01AH004172-00070,1N01AH004172,3591112.0,HISTORY,N01,N,NaN,SURVEY OF ALLIED HEALTH PROFESSIONS GRANTEE IN...,M,28.0,12.0,1974.0,Clever,US,False,450-19-045,False,False,True,False,False,False
3,3.0,3.0,1970.0,HOSPITAL EDUCATIONAL AND RES FDN OF PA,PA,16372.0,RAYMOND,H,GIESLER,NaN,1N01AH004196-00070,1N01AH004196,3591115.0,HISTORY,N01,N,NaN,DEMONSTRATION WORK-STUDY FOR VIETNAM ERA VETERANS,M,27.0,12.0,1973.0,Clintonville,US,True,310-20-101,False,False,False,False,False,False
4,4.0,4.0,1970.0,UNIVERSITY OF IOWA,IA,51453.0,JOHN,S,THOMPSON,NaN,1N01AI002011-00070,1N01AI002011,3591635.0,HISTORY,N01,N,NaN,TEST FOR HUMAN LEUKOCYTE TYPING,M,4.0,5.0,1988.0,Lohrville,US,True,956-64-372,False,False,False,False,False,False

In [75]:
qwertyKeyboard = ['qwertyuiop', 'asdfghjkl', 'zxcvbnm']
let = {}
for q in range(len(qwertyKeyboard)):
    for i in range(len(qwertyKeyboard[q])):
        tmp = []
        if i != 0:
            tmp.append(qwertyKeyboard[q][i-1])
        if i != len(qwertyKeyboard[q])-1:
            tmp.append(qwertyKeyboard[q][i+1])
        if q != len(qwertyKeyboard)-1:
            tmp.append(qwertyKeyboard[q+1][min(i, len(qwertyKeyboard[q+1])-1)])
        if q != 0:
            tmp.append(qwertyKeyboard[q-1][i])
        let[qwertyKeyboard[q][i]] = tmp

In [76]:
let

{'q': ['w', 'a'],
 'w': ['q', 'e', 's'],
 'e': ['w', 'r', 'd'],
 'r': ['e', 't', 'f'],
 't': ['r', 'y', 'g'],
 'y': ['t', 'u', 'h'],
 'u': ['y', 'i', 'j'],
 'i': ['u', 'o', 'k'],
 'o': ['i', 'p', 'l'],
 'p': ['o', 'l'],
 'a': ['s', 'z', 'q'],
 's': ['a', 'd', 'x', 'w'],
 'd': ['s', 'f', 'c', 'e'],
 'f': ['d', 'g', 'v', 'r'],
 'g': ['f', 'h', 'b', 't'],
 'h': ['g', 'j', 'n', 'y'],
 'j': ['h', 'k', 'm', 'u'],
 'k': ['j', 'l', 'm', 'i'],
 'l': ['k', 'm', 'o'],
 'z': ['x', 'a'],
 'x': ['z', 'c', 's'],
 'c': ['x', 'v', 'd'],
 'v': ['c', 'b', 'f'],
 'b': ['v', 'n', 'g'],
 'n': ['b', 'm', 'h'],
 'm': ['n', 'j']}

In [77]:
dfupdate = df.sample(frac=.1)

In [84]:
new_firsts = [0]*len(dfupdate['INDEX'])
ind = 0
for i, j in dfupdate.iterrows():
    toChange = np.random.randint(0, min(2, len(j['PI_FIRST_NAME'])))
    newBeg = ''
    for q in range(toChange):
        if j['PI_FIRST_NAME'][q:min(q+1, len(j['PI_FIRST_NAME']))].lower() == ' ':
            break
        toPick = let[j['PI_FIRST_NAME'][q:min(q+1, len(j['PI_FIRST_NAME']))].lower()]
        newBeg += random.choice(toPick).upper()
    new_firsts[ind] = newBeg + j['PI_FIRST_NAME'][toChange::]
    ind += 1

In [87]:
dfupdate['PI_FIRST_NAME'] = new_firsts
dfupdate['CHANGED_FIRST_NAME'] = True
df.update(dfupdate)
update_list_firsts = dfupdate.index.tolist() # from  cᴏʟᴅsᴘᴇᴇᴅ  :)

In [93]:
dfupdate = df.sample(frac=.01)

In [94]:
new_lasts = [0]*len(dfupdate['INDEX'])
ind = 0
for i, j in dfupdate.iterrows():
    toStart = np.random.randint(0, max(1, len(j['PI_LAST_NAME'])-3))
    toChange = toStart + 1
    newBeg = ''
    for q in range(toStart, toChange):
        if j['PI_LAST_NAME'][q:q+1].lower() in let.keys():
            newBeg += random.choice(let[j['PI_LAST_NAME'][q:q+1].lower()]).upper()
    new_lasts[ind] = j['PI_LAST_NAME'][0:toStart] + newBeg + j['PI_LAST_NAME'][toChange::]
    ind += 1

In [95]:
dfupdate['PI_LAST_NAME'] = new_lasts
dfupdate['CHANGED_LAST_NAME'] = True
df.update(dfupdate)
update_list_lasts = dfupdate.index.tolist() # from  cᴏʟᴅsᴘᴇᴇᴅ  :)

In [96]:
df.head()

,Unnamed: 0,INDEX,FY,ORG_NAME,STATE_CODE,ZIP_CODE,PI_FIRST_NAME,PI_MIDDLE_NAME,PI_LAST_NAME,PI_DEPARTMENT,GRANT_NUM,GRANT_NUM_STEM,APPLICATION_ID,SOURCE_CODE_DC,ACTIVITY_CODE,MAJOR_ACTIVITY_CODE,PI_DEPT_CODE,PROJECT_TITLE,SEX,DOB,MOB,YOB,COB,CNOB,SUBJECTHASMIDDLENAME,GIID,CHANGED_ZIP,CHANGED_SEX,CHANGED_YOB,CHANGED_FIRST_NAME,CHANGED_LAST_NAME,CHANGED_CITY
0,0.0,0.0,1970.0,AMERICAN OCCUPATIONAL THERAPY ASSN,MD,21638.0,HARRIET,NaN,TIEBEL,NaN,1N01AH004000-00070,1N01AH004000,3591064.0,HISTORY,N01,N,NaN,ENCOURAGE INACTIVE THERAPISTS TO RE-ENTER PROF...,F,16.0,8.0,1985.0,Grasonville,US,False,535-58-450,False,False,False,False,False,False
1,1.0,1.0,1970.0,U.S. DEPT OF HLTH & HUMAN SRVS-DUMMY REC,FL,32463.0,GERALD,NaN,ELLINGSON,NaN,1N01AH004103-00070,1N01AH004103,3591099.0,HISTORY,N01,N,NaN,CENTRAL STATE PROJECT FOR HEALTH MANPOWER INFO...,M,24.0,12.0,1964.0,Wausau,US,False,014-49-941,False,False,False,False,False,False
2,2.0,2.0,1970.0,"COMPUTER APPLICATIONS, INC.",MO,65631.0,PHIL,NaN,WELSH,NaN,1N01AH004172-00070,1N01AH004172,3591112.0,HISTORY,N01,N,NaN,SURVEY OF ALLIED HEALTH PROFESSIONS GRANTEE IN...,M,28.0,12.0,1974.0,Clever,US,False,450-19-045,False,False,True,False,False,False
3,3.0,3.0,1970.0,HOSPITAL EDUCATIONAL AND RES FDN OF PA,PA,16372.0,RAYMOND,H,GIESLER,NaN,1N01AH004196-00070,1N01AH004196,3591115.0,HISTORY,N01,N,NaN,DEMONSTRATION WORK-STUDY FOR VIETNAM ERA VETERANS,M,27.0,12.0,1973.0,Clintonville,US,True,310-20-101,False,False,False,False,False,False
4,4.0,4.0,1970.0,UNIVERSITY OF IOWA,IA,51453.0,JOHN,S,THOMPSON,NaN,1N01AI002011-00070,1N01AI002011,3591635.0,HISTORY,N01,N,NaN,TEST FOR HUMAN LEUKOCYTE TYPING,M,4.0,5.0,1988.0,Lohrville,US,True,956-64-372,False,False,False,False,False,False

In [97]:
zips = pd.read_csv('./other_data/uszips.csv')
zips.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17242,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,38442,523.5,72003,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,48814,667.9,72005,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico
3,606,18.16724,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6437,60.4,72093,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29032,-67.12243,Anasco,PR,Puerto Rico,True,NaN,27073,312.0,72011,Añasco,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico

In [98]:
zips[zips['state_id']=='FL'].sample()['city'].item()

'Havana'

In [99]:
dfupdate = df.sample(frac=.01)

In [100]:
states = set(dfupdate['STATE_CODE'].tolist())
stateVals = {}
for s in states:
    stateVals[s] = zips[zips['state_id']==s]['city'].tolist()

In [101]:
new_cities = [0]*len(dfupdate['INDEX'])
ind = 0
for i, j in dfupdate.iterrows():
    new_cities[ind] = random.choice(stateVals[j['STATE_CODE']])
    ind += 1

In [102]:
dfupdate['COB'] = new_cities
dfupdate['CHANGED_CITY'] = True
df.update(dfupdate)
update_list_city = dfupdate.index.tolist() # from  cᴏʟᴅsᴘᴇᴇᴅ  :)

In [103]:
df.head()

,Unnamed: 0,INDEX,FY,ORG_NAME,STATE_CODE,ZIP_CODE,PI_FIRST_NAME,PI_MIDDLE_NAME,PI_LAST_NAME,PI_DEPARTMENT,GRANT_NUM,GRANT_NUM_STEM,APPLICATION_ID,SOURCE_CODE_DC,ACTIVITY_CODE,MAJOR_ACTIVITY_CODE,PI_DEPT_CODE,PROJECT_TITLE,SEX,DOB,MOB,YOB,COB,CNOB,SUBJECTHASMIDDLENAME,GIID,CHANGED_ZIP,CHANGED_SEX,CHANGED_YOB,CHANGED_FIRST_NAME,CHANGED_LAST_NAME,CHANGED_CITY
0,0.0,0.0,1970.0,AMERICAN OCCUPATIONAL THERAPY ASSN,MD,21638.0,HARRIET,NaN,TIEBEL,NaN,1N01AH004000-00070,1N01AH004000,3591064.0,HISTORY,N01,N,NaN,ENCOURAGE INACTIVE THERAPISTS TO RE-ENTER PROF...,F,16.0,8.0,1985.0,Grasonville,US,False,535-58-450,False,False,False,False,False,False
1,1.0,1.0,1970.0,U.S. DEPT OF HLTH & HUMAN SRVS-DUMMY REC,FL,32463.0,GERALD,NaN,ELLINGSON,NaN,1N01AH004103-00070,1N01AH004103,3591099.0,HISTORY,N01,N,NaN,CENTRAL STATE PROJECT FOR HEALTH MANPOWER INFO...,M,24.0,12.0,1964.0,Wausau,US,False,014-49-941,False,False,False,False,False,False
2,2.0,2.0,1970.0,"COMPUTER APPLICATIONS, INC.",MO,65631.0,PHIL,NaN,WELSH,NaN,1N01AH004172-00070,1N01AH004172,3591112.0,HISTORY,N01,N,NaN,SURVEY OF ALLIED HEALTH PROFESSIONS GRANTEE IN...,M,28.0,12.0,1974.0,Clever,US,False,450-19-045,False,False,True,False,False,False
3,3.0,3.0,1970.0,HOSPITAL EDUCATIONAL AND RES FDN OF PA,PA,16372.0,RAYMOND,H,GIESLER,NaN,1N01AH004196-00070,1N01AH004196,3591115.0,HISTORY,N01,N,NaN,DEMONSTRATION WORK-STUDY FOR VIETNAM ERA VETERANS,M,27.0,12.0,1973.0,Clintonville,US,True,310-20-101,False,False,False,False,False,False
4,4.0,4.0,1970.0,UNIVERSITY OF IOWA,IA,51453.0,JOHN,S,THOMPSON,NaN,1N01AI002011-00070,1N01AI002011,3591635.0,HISTORY,N01,N,NaN,TEST FOR HUMAN LEUKOCYTE TYPING,M,4.0,5.0,1988.0,Lohrville,US,True,956-64-372,False,False,False,False,False,False

In [104]:
final_cols = list(set(df.columns) - set(['PI_DEPARTMENT','MAJOR_ACTIVITY_CODE','SOURCE_CODE_DC','PI_DEPT_CODE','ACTIVITY_CODE','PROJECT_TITLE','Unnamed: 0','CHANGED_ZIP','CHANGED_SEX','CHANGED_YOB','CHANGED_FIRST_NAME','CHANGED_LAST_NAME','CHANGED_CITY']))
final_cols

['GRANT_NUM',
 'SUBJECTHASMIDDLENAME',
 'FY',
 'GIID',
 'COB',
 'PI_LAST_NAME',
 'YOB',
 'INDEX',
 'SEX',
 'GRANT_NUM_STEM',
 'ORG_NAME',
 'ZIP_CODE',
 'MOB',
 'PI_FIRST_NAME',
 'PI_MIDDLE_NAME',
 'APPLICATION_ID',
 'CNOB',
 'DOB',
 'STATE_CODE']

In [116]:
df_final = df[final_cols]

df4.to_csv('dataset_without_noise.csv')

In [111]:
df_uniques2 = pd.merge(df_unique, df2, on = ['GIID'], how = 'left')

In [128]:
df_uniques2.to_csv('dataset_only_uniques.csv')

In [129]:
df_final.to_csv('to_analyze.csv')

In [130]:
df.to_csv('noisy_data_with_encodings.csv')